/* IE6/7 does not properly support the CSS inherit property */
a:link, a:visited, a:active { color: white; }
.runnable a:link, .runnable a:visited, .runnable a:active { color: red; }
.playable a:link, .playable a:visited, .playable a:active { color: orange; }
